<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>Administration</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("org.catrobat.confluence.timesheet:administration-resources")
</head>
<body>
<a name="top"></a>
<div id="aui-message-bar"></div>
<div class="loadingDiv"><span class="aui-icon aui-icon-wait">Loading...</span></div>
<div class="aui-tabs horizontal-tabs">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-general"><strong>General Configuration</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-teams"><strong>Add/Remove Teams</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-general">
        <form id="general" class="aui">
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>
            <h2>Permission</h2>
            <fieldset>
                <div class="field-group">
                    <label for="plugin-permission">Allowed Groups/Users</label>
                    <input class="text" type="text" id="plugin-permission" name="plugin-permission"
                           title="plugin-permission">

                    <div class="description">
                        <ul>
                            <li>If nothing is given, every Jira Administrator may read/write</li>
                            <li>If a group is given, every Jira Administrator within this group may read/write</li>
                            <li>If a single user is given and this user is a Jira Administrator this user may read/write</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <h2>General</h2>
            <fieldset>
                <div class="field-group">
                    <label for="userdirectory">Userdirectory</label>
                    <input class="text" type="text" id="userdirectory" name="userdirectory"
                           title="userdirectory">

                    <div class="description">
                        Adds user to given user directory.
                    </div>
                </div>
            </fieldset>
            <h2>Individual Resources</h2>
            <fieldset id="resources">

            </fieldset>
            <h2>Welcome E-Mail</h2>
            <fieldset>
                <div class="field-group">
                    <label for="mail-">From Name</label>
                    <input class="text" type="text" id="mail-from-name" name="mail-from-name"
                           title="mail-from-name">
                    <div class="description">
                        The name of the sender which is shown in the welcome mail.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-from">From</label>
                    <input class="text" type="text" id="mail-from" name="mail-from"
                           title="mail-from">
                    <div class="description">
                        The e-mail address of the sender which is shown in the welcome mail.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject">Subject</label>
                    <input class="text" type="text" id="mail-subject" name="mail-subject"
                           title="mail-subject">
                    <div class="description">
                        The subject of the mail.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body">Body</label>
                    <textarea name="mail-body" id="mail-body"></textarea>
                    <div class="description">
                        The actual text of the mail. Following strings will be replaced by Jira:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the new user</li>
                            <li><span class="mono">{{username}}</span>: The username of the new user</li>
                            <li><span class="mono">{{password}}</span>: The password for the new user</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <h2>GitHub</h2>
            <fieldset>
                <div class="field-group">
                    <label for="github_organization">Organization<span
                            class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="github_organization" name="github_organization"
                           title="github_organization">
                </div>
                <div class="field-group">
                    <label for="github_token_public">Public API Token<span
                            class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="github_token_public" name="github_token_public"
                           title="github_token_public">

                    <div class="description">Create a <a
                            href="https://github.com/blog/1509-personal-api-tokens">token</a> <b>without any rights</b>.
                        It is just used for searching users and will be visible within this plugin!
                    </div>
                </div>
                <div class="field-group">
                    <label for="github_token">Personal API Token<span
                            class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="password" id="github_token" name="github_token" title="github_token">

                    <div class="description">Create a <a
                            href="https://github.com/blog/1509-personal-api-tokens">token</a> with "admin:org" scope.
                    </div>
                </div>
                <div class="field-group">
                    <label for="default-github-team">Default GitHub Team</label>
                    <input class="text github-single" type="text" id="default-github-team" name="default-github-team">
                </div>
            </fieldset>
            <h2>Team Configuration</h2>

            <div id="teams"></div>
            <div class="field-group">
                <input type="submit" value="Save" class="aui-button aui-button-primary">
            </div>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-teams">
        <h2>Teams</h2>
        <p>
            Removing a team just effects the configuration and no user will be modified.
        </p>
        <form id="modify-teams" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="team">Team name<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="team" name="team" title="team">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                    <input type="submit" value="Remove" id="remove" class="aui-button">
                </div>
            </fieldset>
        </form>
        <h2>Resources</h2>
        <form id="modify-resources" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="edit-resource">Resource name<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="edit-resource" name="edit-resource" title="edit-resource">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                    <input type="submit" value="Remove" id="remove-resource" class="aui-button">
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>