<html>
  <head>
    <title>Timesheet</title>
    <meta name="decorator" content="atl.userprofile">
    $webResourceManager.requireResource("org.catrobat.confluence.timesheet:timesheet-resources")
  </head>
  <body>
    <h3>Timesheet</h3>
    <form class="aui">
      <table id="timesheet-table" class="aui aui-table-interactive aui-table-sortable">
        <thead>
        </thead>
        <tbody class="list" id="table-overview-body">
          <tr><td colspan="6"><span class="aui-icon aui-icon-wait">Loading...</span></td></tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
