<html>
  <head>
    <title>Visualization</title>
    <meta name="decorator" content="atl.userprofile">
    $webResourceManager.requireResource("org.catrobat.confluence.timesheet:visualization-resources")
  </head>
  <body>
    <script type="text/javascript">
      var timesheetID = $timesheetid;
    </script>

    <div id="aui-message-bar"></div>

		<div id="visualization-table" class="aui aui-table-interactive table">
			<div class="tr"><span class="td"><span class="aui-icon aui-icon-wait">Loading...</span></span></div>
		</div>
  </body>
</html>
