<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>Administration</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("org.catrobat.jira.timesheet:administration-resources")
</head>
<body>
<a name="top"></a>
<div id="aui-message-bar"></div>
<div class="loadingDiv"><span class="aui-icon aui-icon-wait">Loading...</span></div>
<div class="aui-tabs horizontal-tabs">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-general"><strong>General Configuration</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-teams"><strong>Add/Remove Team</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-categories"><strong>Add/Remove Category</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-scheduling"><strong>Backgroud Jobs</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-general">
        <form id="general" class="aui">
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            <h2>Global Timesheet Read Access</h2>
            <p>
                Selected users are able to view all available timesheets, but are not able to apply any changes.
            </p>
            <p></p>

            <div id="permissions"></div>

            <h2>E-Mail Notifications</h2>
            <fieldset>
                <div class="field-group">
                    <label for="mail-from-name">From Name</label>
                    <input class="text" type="text" id="mail-from-name" name="mail-from-name"
                           title="mail-from-name" placeholder="Full Sender Name">
                    <div class="description">
                        The name of the sender which is shown in the welcome mail.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-from">From</label>
                    <input class="text" type="text" id="mail-from" name="mail-from"
                           title="mail-from" placeholder="Sender Email Address">
                    <div class="description">
                        The e-mail address of the sender which is shown in the welcome mail.
                    </div>
                </div>
            </fieldset>

            <h3>Out Of Time</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-out-of-time">Subject</label>
                    <input class="text" type="text" id="mail-subject-out-of-time" name="mail-subject-out-of-time"
                           title="mail-subject-out-of-time" placeholder="e.g.: [Out Of Time] ...">
                    <div class="description">
                        The subject of the mail, if a student has no time left.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-out-of-time">Body</label>
                    <textarea name="mail-body-out-of-time" id="mail-body-out-of-time" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Confluence automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the user</li>
                            <li><span class="mono">{{time}}</span>: The remaining timesheet hours of the user</li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h3>Inactive</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-inactive">Subject</label>
                    <input class="text" type="text" id="mail-subject-inactive" name="mail-subject-inactive"
                           title="mail-subject-inactive" placeholder="e.g.: [Inactive Notification] ...">
                    <div class="description">
                        The subject of the mail, if a student was not active since two weeks.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-inactive">Body</label>
                    <textarea name="mail-body-inactive" id="mail-body-inactive" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Confluence automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the user</li>
                            <li><span class="mono">{{date}}</span>: The date of the users last entry</li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h3>Administrator Changed Timesheet Entry</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-entry-change">Subject</label>
                    <input class="text" type="text" id="mail-subject-entry-change" name="mail-subject-entry-change"
                           title="mail-subject-entry-change" placeholder="e.g.: [Timesheet Entry Change] ...">
                    <div class="description">
                        The subject of the mail, if an administrator changed an user timesheet entry.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-entry-change">Body</label>
                    <textarea name="mail-body-entry-change" id="mail-body-entry-change" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Confluence automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the user</li>
                            <li><span class="mono">{{original}}</span>: The original user entry</li>
                            <li><span class="mono">{{actual}}</span>: The actual user entry (changed by the
                                Administrator)
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h2>Export</h2>
            <p>Download all user timesheets as <a href="download/all">CSV</a>.</p>

            <h2>Team Configuration</h2>
            <p>
                Provides: change Team name; assign users and/or categories to a team.
            </p>
            <p></p>

            <div id="teams"></div>

            <h2>Category Management</h2>
            <p>
                Provides: change Category name.
            </p>
            <p></p>

            <div id="categories"></div>

            <div class="field-group">
                <input type="submit" value="Save" class="aui-button aui-button-primary">
            </div>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-teams">
        <h2>Team</h2>
        <p>
            Removing a team just effects the configuration and no user will be modified.
        </p>
        <form id="modify-team" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="team-name">Team name<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="team-name" name="team-name" title="team-name">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                    <input type="submit" value="Remove" id="removeTeam" class="aui-button">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-categories">
        <h2>Category</h2>
        <p>
            Removing a category does not modify any user.
        </p>
        <form id="modify-categoryList" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="category-name">Category name<span
                            class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="category-name" name="category-name" title="category-name">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                    <input type="submit" value="Remove" id="removeCategory" class="aui-button">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-scheduling">
        <h2>Task Scheduling</h2>
        <p>
            Interval has to be inserted as 'chron-expression'.
            Please take a careful look at the <a
                href="http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/tutorial-lesson-06">Quartz
            Tutorial lesson 06</a> for further information.
        </p>
        <form id="modify-scheduling" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="activity-verification-job">Trigger - Activity Verification Job Manually</label>
                    <input type="submit" value="Activity Verification" id="applyActivityVerificationInterval" class="aui-button aui-button-primary">
                </div>
                <div class="field-group">
                    <label for="activity-notification-job">Trigger - Activity Notification Job Manually</label>
                    <input type="submit" value="Activity Notification" id="applyActivityNotificationInterval" class="aui-button aui-button-primary">
                </div>
                <div class="field-group">
                    <label for="out-of-time-verification-job">Trigger - Out Of Time Notification Job Manually</label>
                    <input type="submit" value="Out Of Time" id="applyOutOfTimeInterval" class="aui-button aui-button-primary">
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
