<html>
  <head>
    <title>Timesheet for $username</title>
    <meta name="decorator" content="atl.general">
  </head>
  <body>
    <div>
        <table style="width:80%">
            <tr>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Pause</th>
                <th>Theory</th>
                <th>Description</th>
                <th>Category</th>
                <th></th>
            </tr>
            <tr>
                <form method="post">
                    <td><input type="text" name="date" maxlength="10" placeholder="DD.MM.YYYY"/></td>
                    <td><input type="text" name="startTime" maxlength="5" placeholder="HH:MM"/></td>
                    <td><input type="text" name="endTime" maxlength="5" placeholder="HH:MM"/></td>
                    <td><input type="text" name="duration" maxlength="5" placeholder="HH:MM"/></td>
                    <td><input type="text" name="pause" maxlength="5" placeholder="HH:MM"/></td>
                    <td><input type="checkbox" name="theory"/></td>
                    <td><input type="text" name="description" placeholder="e.g. 'Bugfixing - Issue 971'"/></td>
                    <td><input type="text" name="category"/></td>
                    <td><input type="submit" name="submit" value="Save"/></td>
                </form>
            </tr>
            #set($data = $entries.keySet())
            #foreach ($key in $data)
            <tr>
                #set($entryWithHtml = $entries.get($key))
                $entryWithHtml
            </tr>
            #end
        </table>
    </div>
    <script language='javascript'>document.forms[0].elements[0].focus();</script>
  </body>
</html>
